<div class="user-edit">

<h1>User info</h1>
<%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
      <p>1 error prohibited this obj from being saved: <br>
      Introduction is too long (maximum is 50 characters)</p>
   <% end %>
<div>
<table>
      <tr>
      <td>Name</td>
      <td><%= f.text_field :name, autofocus: true, placeholder:"Name"%></td>
      </tr>
      <tr>
      <td>Introduction</td>
      <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
      <td>ProfileImage</td>
      <td><%= f.attachment_field :profile_image, placeholder: "Image", class: "user-edit-form" %></td>
      </tr>
</table>

 </div>            

<%= f.submit "Update User", class: "btn btn-default"%>
<% end %>
</div>
