<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>


<div class="user-edit">

<h1>Editing Book</h1>
<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
  <% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
    <h4>title</h4>
    <%= f.text_field :title %>
    <h4>body</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Update Book', class: "btn btn-default" %>    
<% end %>

<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", books_path %>

</div>
